:root {
  --color-dropdowns-dark: #000;
  --color-dropdowns-white: #fff;
  --color-dropdowns-light: #bad8f5;
  --color-dropdowns-medium: #459df5;
  --color-dropdowns-medium-dark: #3d8edf;
  --color-dropdowns-stroke-middle: #8055ff;
  --color-dropdowns-main: #e5e5e5;
  --color-dropdowns-shadow: rgba(0, 0, 0, 0.1);
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 12.875rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-dropdowns-white);
  box-shadow: 0 0.5rem 2rem var(--color-dropdowns-shadow),
    0 0.25rem 0.5rem var(--color-dropdowns-shadow),
    0 0.125rem 0.125rem var(--color-dropdowns-shadow);
}

.dropdown__item {
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: var(--color-dropdowns-white);
}

.dropdown__item:hover {
  background-color: var(--color-dropdowns-light);
}

.dropdown__item:active {
  background-color: var(--color-dropdowns-medium);
}

.dropdown__control {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
}

.dropdown__checkbox-group {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown__checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
  border: 0.0625rem solid var(--color-dropdowns-light);
  border-radius: 0.125rem;
  background-color: var(--color-dropdowns-white);
  box-sizing: border-box;
}

.dropdown__checkbox:checked {
  background-color: var(--color-dropdowns-medium);
  border-color: var(--color-dropdowns-medium);
}

.dropdown__checkbox:active,
.dropdown__checkbox:checked:active {
  box-shadow: 0 0 0.125rem var(--color-dropdowns-medium),
    inset 0 0 0.125rem var(--color-dropdowns-medium);
}

.dropdown__checkbox:focus {
  outline-color: var(--color-dropdowns-light);
}

.dropdown__checkbox:checked + .dropdown__checkbox-icon {
  opacity: 1;
}

.dropdown__checkbox-icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  fill: var(--color-dropdowns-white);
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.dropdown__item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
}

.dropdown__radio:checked + .dropdown__item-title {
  color: var(--color-dropdowns-medium);
}

.dropdown__radio {
  display: none;
}

.dropdown_to-page {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 5.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-dropdowns-white);
  box-shadow: 0 0.5rem 2rem var(--color-dropdowns-shadow),
    0 0.25rem 0.5rem var(--color-dropdowns-shadow),
    0 0.125rem 0.125rem var(--color-dropdowns-shadow);
}

.dropdown__control_to-page {
  display: flex;
  flex-direction: column;
}

.dropdown__title {
  display: flex;
  line-height: 1rem;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}

.dropdown_delete {
  display: flex;
  flex-direction: column;
  width: 10rem;
  gap: 0.5rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-dropdowns-white);
  box-shadow: 0 0.5rem 2rem var(--color-dropdowns-shadow),
    0 0.25rem 0.5rem var(--color-dropdowns-shadow),
    0 0.125rem 0.125rem var(--color-dropdowns-shadow);
}

.dropdown_theme-switcher {
  display: flex;
  flex-direction: column;
  width: 10rem;
  gap: 0.5rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-dropdowns-white);
  box-shadow: 0 0.5rem 2rem var(--color-dropdowns-shadow),
    0 0.25rem 0.5rem var(--color-dropdowns-shadow),
    0 0.125rem 0.125rem var(--color-dropdowns-shadow);
}
